body {
  background: #202020;
}

#mapcanvas {
  position: absolute;
  width: 640;
  height: 640;
  top: 50%;
  /*left: 50%;*/
  /* I always forget how it goes */
  /* top bottom right left */
  margin: -320px 0 0 0;
  background: black;
}
